*{
    border: 1px solid black;
}

body {
    background-color:  hsl(225, 100%, 94%);
}

.order-summary{
    display: grid;
    justify-items: center;
    width: 300px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.hero{
    width: 300px;
}

.main-p{
    display: flex;
    width: 250px;
    height: 80px;
    text-align: center;
    align-items: center;
    margin-top: 0px;
}

.plan{
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-top: -10px;
}

.pay{
    width: 250px;
    padding-top: 0px;
}

.title{
    display: flex;
    align-items: center;
    margin-top: -10px;
}

